body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-family: sans-serif;
}

.start-menu {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    background-color: purple;
    cursor: pointer;
    color: white;
    font-weight: bold;
    height: 250px;
    width: 250px;
    font-size: larger;
    border-color: darkmagenta;
}

.hide {
    display: none;
}

.game {
    display: flex;
    flex-direction: column;
}

.header {
    margin: auto;
    font-size: 3.0vw;
    font-weight: bold;
}

.time {
    margin: auto;
    font-size: 3.0vw;
    font-weight: bold;
}

.footer {
    margin: auto;
    padding-top: 5px;
    font-size: 1.5vw;
    font-weight: bold;
}

.level1 {
    display: grid;
    height: 80vh;
    width: 50vw;
    grid-template-rows: repeat(4, minmax(10px, 1fr));
    grid-template-columns: repeat(4, minmax(20px, 1fr));
    margin: auto;
}