body {
    margin: 0;
    padding: 0;
    color: red;
    background-color: black;
    font-family: sans-serif;
}

.start-menu {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    background-color: green;
    cursor: pointer;
    color: white;
    font-weight: bold;
    height: 250px;
    width: 250px;
    font-size: larger;
    border-color: darkgreen;
}

.gameover {
    width: 100%;
    height: 65vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tryagain-button {
    background-color: red;
    cursor: pointer;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 250px;
    font-size: larger;
    border-color: darkred;
}

.hide {
    display: none !important;
    visibility: hidden;
}

.game {
    display: flex;
    flex-direction: column;
}

.header {
    margin: auto;
    font-size: 7.0vw;
    font-weight: bold;
}

.time {
    margin: auto;
    font-size: 6.0vw;
    font-weight: bold;
}

.footer {
    margin: auto;
    padding-top: 5px;
    font-size: 4.0vw;
    font-weight: bold;
}

.level4x4 {
    display: grid;
    height: 65vh;
    width: 100vw;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    cursor: pointer;
}

.cell {
    min-width: 0;
    min-height: 0;
}

.video {
    width: 100%;
    height: 100%;
}

.video-small {
    width: 75%;
    height: 75%;
}